.DS_Store
oldbgms/
2022_dreamStar/
2023_futureSymphonia/
2023_KineticNovelGrandPrix_BGM1/
2023_KineticNovelGrandPrix_Vocal1/
2023_KineticNovelGrandPrix_Vocal2/
2023_KineticNovelGrandPrix_Vocal3/
2023_memoris/
2024_CampusChronicles/
2024_MagicalShowdownSerenade/
